{% extends "base.html.twig" %}

{% form_theme form _self %}

{% block textarea_widget -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' form-control')|trim}) %}
    <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
    <span>{{ attr['data-help']|trans }} </span>
{%- endblock textarea_widget %}

{% block body %}
    {% include "NFQUserBundle:Registration:register_content.html.twig" %}
{% endblock body %}
