{% extends "::base.html.twig" %}

{% block title %}NFQHomeBundle:Home:home{% endblock %}

{% block body %}
    <body style="background-size:100%" background="https://idisciple.blob.core.windows.net/idm/You-Will-Help-Others-Overcome-What-You-Have-Been-Through.png">
    <link href="//getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="//getbootstrap.com/examples/cover/cover.css" rel="stylesheet">

    <div class="site-wrapper">

        <div class="site-wrapper-inner">

            <div class="cover-container">

                <div class="masthead clearfix">
                    <div class="inner">
                        <h3 class="masthead-brand">Padedam.lt</h3>
                        <nav>
                            <ul class="nav masthead-nav">
                                <li class="active"><a href="#">Prisijungimas</a></li>
                                <li><a href="{{ path('nfq_apie_homepage') }}">Apie</a></li>
                                <li><a href="#">Kontaktai</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <div class="inner cover">
                    <p class="lead">
                        <a href="#" class="btn btn-lg btn-default">Prisijungti</a>
                    </p>
                    <p class="lead">Naujas vartotojas?</p>
                    <p class="lead">
                        <a href="#" class="btn btn-lg btn-default">Prisiregistruoti</a>
                    </p>
                </div>

                <div class="mastfoot">
                    <div class="inner">
                        <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
                    </div>
                </div>

            </div>

        </div>

    </div>
    </body>
{% endblock %}
