{% extends "base.html.twig" %}
{% block body %}
{% include "NFQUserBundle:Profile:show_content.html.twig" %}

    <p><a href="{{ path('fos_user_profile_edit') }}">Redaguoti profilį</a></p>
{% endblock body %}
