#forgotpass{
    margin:0;
    padding: 0 0 0 20px;
}
.btn-link{
    cursor:pointer;
}

.select2-choice, .form-select, #s2id_new_competence, .select2-chosen-3 {
    width: 100%;
    height: 35px;
}

.select2-search-choice-close:before {
    content: 'x';
    color: #fff;
    font-weight: 300;
    font-family: Arial, sans-serif;
}
.alert-dismissible{
    position: fixed;
    height:60px;
    width:100%;
    z-index: 999;
}